<!DOCTYPE html>
<html>
  <head>
    <title>YouTube</title>
  </head>
  <body>
    <h1>Search Bar</h1>
    <form action="/" method="GET">
      <div class="input-group">
        <input type="text" name="search" class="form-control"
          placeholder="Enter a search">
        <span class="input-group-btn">
          <button class="btn btn-success" type="submit">Go!</button>
        </span>
      </div>
    </form>
  </body>
</html>