#list-container {
    background-color: #ffffff;
    padding: 24px;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
}

#list th {
    color: #767676; /* Gray color for table headers */
}

#list a {
    color: #181818; /* Dark color for links */
}

#list img {
    border-radius: 4px; /* Slightly rounded corners for thumbnails */
}