#watch-container {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.video-title {
  color: #181818;
  font-size: 24px;
  font-weight: bold;
  margin-top: 24px;
}

.video-description {
  color: #767676; /* Gray color for description */
  margin-top: 16px;
}

/* General styles */
.hidden {
  display: none;
}

/* Button styles */
#playlists-button {
  background-color: rgb(40,40,40);
  border: none;
  color: #ffffff;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

/* When hovering over the button */
#playlists-button:hover {
  background-color: rgb(63,63,63);
}

/* Dropdown container styles */
#guest-container, #playlists-container {
  position: absolute;
  width: 200px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

/* Dropdown menu styles */
#guest-menu, #playlists-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* List item styles */
#guest-menu div, #playlists-menu div, #playlists-menu a {
  padding: 8px 16px;
  cursor: pointer;
  color: #ffffff;
  background-color: rgb(33,33,33);
}

/* Button styles for "Create new playlist" */
#create-playlist-button {
  padding: 8px 0;
  cursor: pointer;
  color: #ffffff;
  background-color: rgb(33,33,33);
  border: none;
  width: 100%; /* To make it span the entire width of the dropdown */
  text-align: left; /* Align text to the left like the other dropdown items */
  font-size: 16px; /* Match the font size of the other dropdown items */
  outline: none; /* Remove the default focus outline */
  transition: background-color 0.2s; /* Smooth transition for hover effect */
}

#playlist-item, #playlist-none {
  color: #ffffff;
}

/* Styling for new-playlist-form */
#new-playlist-form {
  position: absolute;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgb(33,33,33);
  padding: 16px; /* Added padding for inner spacing */
}

/* Styling for form labels */
#new-playlist-form label {
  display: block;
  margin-bottom: 8px;
  color: #ffffff; /* Dark text color */
}

/* Styling for form input fields */
#new-playlist-form input[type="text"] {
  color: white;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(241,241,241);
  background-color: transparent;
  outline: none;
  margin-bottom: 16px;
  resize: vertical;
}

/* Styling for the form button */
#new-playlist-form button {
  background-color: rgb(40,40,40);
  border: none;
  color: #ffffff;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s;
}

#new-playlist-form button:hover {
  background-color: rgb(63,63,63);
}
