<table id="list">
    <thead>
      <tr>
        <th>All Search Results</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% videos.forEach(function(v) { %>
        <tr>
          <td><a href="../watch/<%= v.videoId %>"><%= v.title %></a></td>
          <td><a href="../watch/<%= v.videoId %>"><img src="<%= v.thumbnail %>"></a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>